*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.jumbotron{
    border-radius: 0;
    margin: 0;
}

.card{
    margin: 5px;
    border-radius: 0;
    padding: 0;
    border: none;
}
.grp1{
    background-image: url(background1.jpg);
    /* background-position: center; */
    background-size: cover;
    height: 40rem;
    color: white;
    text-align: center;
}
button{
    background: none;
    border: 2px solid rgba(43, 41, 41, 0.6);
    color: white;
    padding: 6px 10px;
    background-color: rgb(6, 6, 253);
}
.grp2{
    display: block;
    text-align: center;
}
#grp3{
    display: inline-flex;
    margin: 0;
    background-color: black;
}
.col-sm-4{
    color: white;
    text-align: center;
    padding: 1em 8px;
}
.card p{
    text-align: center;
    padding: 5px;
}

.grp5{
    display: inline-flex;
    margin: 0;
}
.grp6{
    margin: 0;
    padding: 4em 7em ;
    color: white;
    text-align: center;
}

#ll2{
    margin: 0;
    height: 5em;
}
#ll{
    color: white;
    text-align: center;
    padding: 2em;
}