body{
    background-color: rgb(31, 26, 26);
    margin: 0;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    background-color: rgba(240, 246, 255, 0.6);
    display: inline-block;
    width: 50vh;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
#search{
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(114, 116, 117);
    border-radius: 5px;
    font-size: 20px;
    color: black;
    
}
::placeholder{
    color: black;
    opacity: 0.5;
}
#display{
    background-color: rgb(114, 116, 117);
    margin: 20px auto;
    border-radius: 5px;
}
#city,#temp,#min-max,#type{
    padding: 20px;
    font-size: 25px;
    font-weight: 700;

}
#temp{
    font-size: 45px;
}
